
#navbar-brand-row {
	background: #301934;
	background: -moz-linear-gradient(left, #301934 0%, #442D48 50%, #0f3d5c 100%);
	background: -webkit-linear-gradient(left, #301934 0%, #442D48 50%, #0f3d5c 100%);
	background: linear-gradient(to right, #301934 30%, #442D48 60%, #0f3d5c 90%);
	border: 5px solid;
	border-color: rgba(0, 0, 0, 0.61);
	border-radius: 0px 0px 10px 10px;
}

#navbar-option-row {
	background: #301934;
	background: -moz-linear-gradient(left, #301934 0%, #442D48 50%, #0f3d5c 100%);
	background: -webkit-linear-gradient(left, #301934 0%, #442D48 50%, #0f3d5c 100%);
	background: linear-gradient(to right, #301934 30%, #442D48 60%, #0f3d5c 90%);
	border: 4px solid;
	border-color: rgba(0, 0, 0, 0.5);
	border-radius: 15px 15px 15px 15px;
}

.navbar-brand,
.nav-item,
.nav-link {
	color: rgb(150, 255, 150);
	font-family: 'Open Sans', Geneva, Tahoma, sans-serif;
}

.active {
	color: rgb(0, 190, 0);
}

.navbar-brand {
	font-size: 2.6em;
	font-weight: 500;
	font-style: italic;
}

.nav-item,
.nav-link {
	font-size: 1.3em;
	font-weight: 400;
}

li.nav-item:not(:last-child) {
	margin-right: 10rem;
}