.navbar {
	background-color: rgb(48, 25, 52);
}

.navbar-brand,
.nav-item,
.nav-link {
	color: rgb(150, 255, 150);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.active {
	color: rgb(0, 190, 0);
}

.navbar-brand {
	font-size: 2.6em;
}

.nav-item,
.nav-link {
	font-size: 1.3em;
}

li.nav-item:not(:last-child) {
	margin-right: 10rem;
}